# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [5]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Punta Arenas,CL,-53.1500,-70.9167,51.91,50,0,19.57,clear sky
1,1,Beringovskiy,RU,63.0500,179.3167,10.80,98,100,7.31,overcast clouds
2,2,Yellowknife,CA,62.4560,-114.3525,21.72,100,100,5.99,light snow
3,3,Rikitea,PF,-23.1203,-134.9692,74.37,87,29,18.01,scattered clouds
4,4,Tasiilaq,GL,65.6145,-37.6368,32.45,86,100,28.83,light snow
5,5,Carnarvon,AU,-24.8667,113.6333,74.10,29,0,16.06,clear sky
6,6,Kalmunai,LK,7.4167,81.8167,76.62,84,100,3.09,overcast clouds
7,7,Severo-Kurilsk,RU,50.6789,156.1250,35.91,64,99,18.95,overcast clouds
8,8,Hobart,AU,-42.8794,147.3294,55.26,87,75,5.75,broken clouds
9,9,Biak,ID,-0.9131,122.8766,83.95,67,99,2.17,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [6]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 66
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [8]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
                
  
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Rikitea,PF,-23.1203,-134.9692,74.37,87,29,18.01,scattered clouds
5,5,Carnarvon,AU,-24.8667,113.6333,74.10,29,0,16.06,clear sky
6,6,Kalmunai,LK,7.4167,81.8167,76.62,84,100,3.09,overcast clouds
9,9,Biak,ID,-0.9131,122.8766,83.95,67,99,2.17,overcast clouds
16,16,Kapaa,US,22.0752,-159.3190,80.58,82,51,4.00,light rain
18,18,Saint-Philippe,RE,-21.3585,55.7679,69.39,73,0,4.09,clear sky
20,20,Kavaratti,IN,10.5669,72.6420,79.77,78,100,7.83,moderate rain
24,24,Maceio,BR,-9.6658,-35.7353,74.64,94,40,5.75,scattered clouds
26,26,Gat,IL,31.6100,34.7642,69.78,28,0,5.79,clear sky
29,29,Sao Joao Da Barra,BR,-21.6403,-41.0511,73.98,90,28,18.21,scattered clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [10]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities_df = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Rikitea,PF,-23.1203,-134.9692,74.37,87,29,18.01,scattered clouds
5,5,Carnarvon,AU,-24.8667,113.6333,74.10,29,0,16.06,clear sky
6,6,Kalmunai,LK,7.4167,81.8167,76.62,84,100,3.09,overcast clouds
9,9,Biak,ID,-0.9131,122.8766,83.95,67,99,2.17,overcast clouds
16,16,Kapaa,US,22.0752,-159.3190,80.58,82,51,4.00,light rain
18,18,Saint-Philippe,RE,-21.3585,55.7679,69.39,73,0,4.09,clear sky
20,20,Kavaratti,IN,10.5669,72.6420,79.77,78,100,7.83,moderate rain
24,24,Maceio,BR,-9.6658,-35.7353,74.64,94,40,5.75,scattered clouds
26,26,Gat,IL,31.6100,34.7642,69.78,28,0,5.79,clear sky
29,29,Sao Joao Da Barra,BR,-21.6403,-41.0511,73.98,90,28,18.21,scattered clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [12]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# Display sample data
hotel_df.head(10)

                 City Country  Max Temp Current Description      Lat       Lng
3             Rikitea      PF     74.37    scattered clouds -23.1203 -134.9692
5           Carnarvon      AU     74.10           clear sky -24.8667  113.6333
6            Kalmunai      LK     76.62     overcast clouds   7.4167   81.8167
9                Biak      ID     83.95     overcast clouds  -0.9131  122.8766
16              Kapaa      US     80.58          light rain  22.0752 -159.3190
18     Saint-Philippe      RE     69.39           clear sky -21.3585   55.7679
20          Kavaratti      IN     79.77       moderate rain  10.5669   72.6420
24             Maceio      BR     74.64    scattered clouds  -9.6658  -35.7353
26                Gat      IL     69.78           clear sky  31.6100   34.7642
29  Sao Joao Da Barra      BR     73.98    scattered clouds -21.6403  -41.0511

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [13]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Rikitea,PF,74.37,scattered clouds,-23.1203,-134.9692,
5,Carnarvon,AU,74.10,clear sky,-24.8667,113.6333,
6,Kalmunai,LK,76.62,overcast clouds,7.4167,81.8167,
9,Biak,ID,83.95,overcast clouds,-0.9131,122.8766,
16,Kapaa,US,80.58,light rain,22.0752,-159.3190,
18,Saint-Philippe,RE,69.39,clear sky,-21.3585,55.7679,
20,Kavaratti,IN,79.77,moderate rain,10.5669,72.6420,
24,Maceio,BR,74.64,scattered clouds,-9.6658,-35.7353,
26,Gat,IL,69.78,clear sky,31.6100,34.7642,
29,Sao Joao Da Barra,BR,73.98,scattered clouds,-21.6403,-41.0511,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [14]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [16]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params = params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Rikitea,PF,74.37,scattered clouds,-23.1203,-134.9692,People ThankYou
5,Carnarvon,AU,74.10,clear sky,-24.8667,113.6333,Hospitality Carnarvon
6,Kalmunai,LK,76.62,overcast clouds,7.4167,81.8167,VS Villa
9,Biak,ID,83.95,overcast clouds,-0.9131,122.8766,Penginapan Kim
16,Kapaa,US,80.58,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
18,Saint-Philippe,RE,69.39,clear sky,-21.3585,55.7679,Le four à pain
20,Kavaratti,IN,79.77,moderate rain,10.5669,72.6420,Green leaf
24,Maceio,BR,74.64,scattered clouds,-9.6658,-35.7353,Hotel Ponta Verde Maceió
26,Gat,IL,69.78,clear sky,31.6100,34.7642,OlusHome
29,Sao Joao Da Barra,BR,73.98,scattered clouds,-21.6403,-41.0511,Pousada Porto De Canoas

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [18]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Rikitea,PF,74.37,scattered clouds,-23.1203,-134.9692,People ThankYou
5,Carnarvon,AU,74.10,clear sky,-24.8667,113.6333,Hospitality Carnarvon
6,Kalmunai,LK,76.62,overcast clouds,7.4167,81.8167,VS Villa
9,Biak,ID,83.95,overcast clouds,-0.9131,122.8766,Penginapan Kim
16,Kapaa,US,80.58,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
18,Saint-Philippe,RE,69.39,clear sky,-21.3585,55.7679,Le four à pain
20,Kavaratti,IN,79.77,moderate rain,10.5669,72.6420,Green leaf
24,Maceio,BR,74.64,scattered clouds,-9.6658,-35.7353,Hotel Ponta Verde Maceió
26,Gat,IL,69.78,clear sky,31.6100,34.7642,OlusHome
29,Sao Joao Da Barra,BR,73.98,scattered clouds,-21.6403,-41.0511,Pousada Porto De Canoas

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [19]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [20]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [21]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [22]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>People ThankYou</dd>\n<dt>City</dt><dd>Rikitea</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 74.37 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hospitality Carnarvon</dd>\n<dt>City</dt><dd>Carnarvon</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>clear sky and 74.1 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>VS Villa</dd>\n<dt>City</dt><dd>Kalmunai</dd>\n<dt>Country</dt><dd>LK</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 76.62 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Penginapan Kim</dd>\n<dt>City</dt><dd>Biak</dd>\n<dt>Country</dt><dd>ID</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 83.95 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>light rain and 80.58 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Le four à pain</dd>\n<dt>City</dt><dd>Saint-Philippe</dd>\n<dt>Country</dt><dd>RE</dd>\n<dt>Current Weather</dt><dd>clear sky and 69.39 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Green leaf</dd>\n<dt>City</dt><dd>Kavaratti</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>moderate rain and 79.77 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Ponta Verde Maceió</dd>\n<dt>City</dt><dd>Maceio</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 74.64 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>OlusHome</dd>\n<dt>City</dt><dd>Gat</dd>\n<dt>Country</dt><dd>IL</dd>\n<dt>Current Weather</dt><dd>clear sky and 69.78 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pousada Porto De Canoas</dd>\n<dt>City</dt><dd>Sao Joao Da Barra</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 73.98 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [23]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
3  -23.1203 -134.9692
5  -24.8667  113.6333
6    7.4167   81.8167
9   -0.9131  122.8766
16  22.0752 -159.3190
18 -21.3585   55.7679
20  10.5669   72.6420
24  -9.6658  -35.7353
26  31.6100   34.7642
29 -21.6403  -41.0511

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [24]:
# Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))